.ArticleLayout {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: stretch;

	.ArticleList {
		width: 380px;
		height: 100%;
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		flex-grow: 0;
		background-color: #fff;
		box-shadow: 0 0 4px rgb(0 0 0 /0.05);

		.Search {
			padding: 1rem;
			flex-shrink: 0;
			flex-grow: 0;
			display: flex;
			gap: 1rem;

			button {
				white-space: nowrap;
				gap: 0.25rem;

				.material-icons {
					margin-left: 0.5rem;
				}

				.Label {
					margin-right: 0.75rem;
				}
			}
		}

		.Rows {
			flex-shrink: 0;
			flex-grow: 1;
			min-height: 0;
			display: flex;
			flex-direction: column;
			overflow: hidden;
			
			.ArticleRow {
				width: 100%;
				padding: 1rem;
				display: flex;
				align-items: center;
				gap: 1rem;
				cursor: pointer;
				border-bottom: 1px solid transparent;
				transition: all 0.2s ease-out;
				color: #363636;
				text-decoration: none;

				&:not(:last-child) {
					border-color: rgb(0 0 0 /0.02);
				}

				&:hover {
					background-color: rgb(0 0 0 /0.01);
				}

				&:active {
					opacity: 0.85;
					background-color: rgb(0 0 0 /0.03);
				}

				&.Active {
					box-shadow: inset 4px 0 0 #0099ff;
				}

				.Photo {
					flex-shrink: 0;
					flex-grow: 0;

					.Thumbnail {
						display: block;
						width: 4rem;
						height: 4rem;
						border-radius: 0.5rem;
						background-color: #e7e7e7;
						overflow: hidden;

						img {
							display: block;
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}

				.Details {
					flex-shrink: 0;
					flex-grow: 1;
					min-width: 0;
					flex-basis: 0;

					.Name {
						font-weight: 600;
					}

					.Meta {
						width: 100%;
						margin-top: 0.5rem;
						display: flex;
						gap: 0.25rem;
						justify-content: space-between;
						align-items: center;
						color: #666666;
						font-size: 0.875rem;

						.MetaItem {
							display: flex;
							gap: 0.25rem;
							align-items: center;

							.material-icons {
								position: relative;
								top: -1.5px;
								font-size: 1.1rem;
							}
						}
					}
				}
			}
		}
	}

	.ArticleView {
		min-width: 0;
		flex-shrink: 0;
		flex-grow: 1;
		flex-basis: 0;
		display: flex;
		flex-direction: column;
	}

	.ArticleCenter {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.ArticleViewer {
	width: 100%;
	height: 100%;
	display: flex;
	border-left: 1px solid #e7e7e7;
	background-color: #ffffff;

	.Article {
		min-width: 0;
		height: 100%;
		flex-shrink: 0;
		flex-grow: 1;
		flex-basis: 0;
		color: #373737;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 5px;
			height: 8px;
			background-color: #f7f7f7;
		}
		&::-webkit-scrollbar-thumb {
			background: #d7d7d7;
		}

		.Title {
			padding: 2rem;
		}

		.FeaturedImage {
			padding: 0 2rem 2rem;
			
			img {
				border-radius: 1rem;
			}
		}

		.Content {
			padding: 0 2rem 2rem;
		}
	}

	.Sidebar {
		width: 300px;
		flex-shrink: 0;
		flex-grow: 0;
		border-left: 1px solid #e7e7e7;

		.SidebarPanel {

			&:not(:first-child) {
				border-top: 1px solid #e7e7e7;
			}
			
			.Title {
				padding: 0 1rem;
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1px solid #e7e7e7;
				
				.Label {
					padding: 1rem 0;
					font-weight: 600;
					color: #373737;
				}

				.TitleActions {
					padding: 0.5rem 0;
				}
			}

			.Content {
				padding: 1rem;
				font-size: 0.875rem;
				line-height: 1.2;
				
				.ContentRow {
					margin-bottom: 1rem;
					font-size: 0.875rem;
					display: flex;
					align-items: flex-start;
					line-height: 1.2;
					
					.Label {
						width: 35%;
						flex-shrink: 0;
						color: #666666;
					}
					
					.Value {
						color: #373737;
					}
				}

				.Options {
					border: 1px solid #eaeaea;
					border-radius: 0.5rem;
					overflow: hidden;
				}

				.Option {
					display: flex;
					align-items: center;
					cursor: pointer;
					transition: all 0.2s ease-out;
					user-select: none;

					&:not(:last-child) {
						border-bottom: 1px solid #eaeaea;
					}

					&:hover {
						background-color: #f7f7f7;
					}

					&:active {
						background-color: #eaeaea;
						opacity: 0.85;
					}

					.Text {
						position: relative;
						top: 1px;
					}
				}
			}

			.Actions {
				padding: 0 1rem 1rem;
				display: flex;
				justify-content: flex-end;
				gap: 0.5rem;
			}

		}
	}
}