.Typo {
	position: relative;

	.Placeholder {
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		opacity: 0.75;
	}
}

.TypoEditor {
	min-height: 200px;

	&:focus {
		outline: none;
	}
}