.BlockViewer {

}

// --- Edit Mode
.BlockViewer.EditMode {

	.View:not(.PageView) {
		cursor: default;
		user-select: none;
		
		// Outline on hover
		&.State_Hovered {
			outline: #880088 solid 2px;
			outline-offset: -1px;
		}

	}

}