body {
	height: 100%;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

#root {
	height: 100%;
}

h1 {
	font-weight: 700;
	letter-spacing: -1px;
	font-size: 2.5rem;
	line-height: 1.25;
}

h2 {
	font-weight: 700;
	letter-spacing: -1px;
	font-size: 2.25rem;
	line-height: 1.25;
}

h3 {
	font-weight: 700;
	letter-spacing: -0.5px;
	font-size: 2.0rem;
	line-height: 1.25;
}

h4 {
	font-weight: 600;
	letter-spacing: -0.5px;
	font-size: 1.75rem;
	line-height: 1.25;
}

h5 {
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1;
}

h6 {
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1;
}
p {
	min-height: calc(1.68 * 1rem + 1rem);
	line-height: 1.68;
	padding-bottom: 1rem;
}

.ContentImage {
	margin-bottom: 1rem;

	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.ContentVideo {
	margin-bottom: 1rem;

	video {
		display: block;
		width: 100%;
		height: auto;
	}
}

.ContentAudio {
	margin-bottom: 1rem;

	audio {
		display: block;
		width: 100%;
	}
}